body {
  font-family: sans-serif;
  color: whitesmoke;
  background-color: aliceblue;
}

.box {
  width: 250px;
  height: 70px;
  background-color: dodgerblue;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: calc(50vh - 35px) auto;
}