body {
  font-family: sans-serif;
  color: whitesmoke;
  background-color: aliceblue;
}

.box {
  width: 500px;
  height: 150px;
  font-size: 36px;
  background-color: dodgerblue;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: calc(50vh - 75px) auto;
}